header {
 font-family: Copperplate, Fantasy;
 font-weight: bold condensed;
 color: #FFEEEE; 
 font-size: 28px;
}

body {
 background: rgb(2,0,36);
 background: linear-gradient(180deg, rgba(121,9,9,1) 0%, rgba(121,9,9,1) 10%, rgba(218,218,255,1) 15%);
 font-family: "Times New Roman", Times, serif;
 font-weight: condensed;
 color: #0D0A0A; 
 font-size: 18px;
}

p2 {
 font-size: 12px;
}

h1 {
 font-family: Georgia, Serif;
 color: #AA0F0F; 
 font-size: 18px;
}

footer {
 color: #AC2B37; 
 font-family: Monaco, Monospace;
 font-size: 12px;
}

#content {
    padding:3px;
}

#WPI{
    /*center the image*/
    display: block; 
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

#MAP{
    /*center the image*/
    display: block; 
    width: 40%;
    margin-left: auto;
    margin-right: auto;
}

#RIDE{
    /*center the image*/
    display: block; 
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

#STORE{
    display: block; 
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

#LOGO{
    position: absolute;
    width: 8%;
    top: 16px;
    right: 16px;
}

#main_nav ul { padding: 0; margin: 0; }

#main_nav li  {
  list-style-type: none; /* remove bullet points */ 
}

#main_nav li a {
   display: block;
   text-decoration: none; /* remove underline */
   border-radius: 10px;  /* rounded corners */
   margin: 6px;
   padding: 9px;
   color: #FFF;
   font-weight: bold;

   /* nice gradient shade on the buttons */
   background-image: linear-gradient(to bottom, rgba(125,0,0,1), rgba(255,125,125,1));

   border: 1px solid #666; /* dark outline */
}

nav li:active {
  background-color: #ccc;
  background-image: none;
  box-shadow: inset 0 3px 3px rgba(0, 0, 0, .2);
}

